.home {
  display: flex;
  align-items: center;
  background: url('../../images/banner.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

.home .max-width {
  margin: 0;
}

.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span{
  color: #b23b20;
  font-weight: 500;
}
.img-circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

section .home  {
  padding: 100px 0;
  background: #C9D9E4;
  width: 100vw;
}
