.orbit-container {
  position: relative;
  width: 90vw;
  max-width: 420px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.orbit-wrapper {
  padding-bottom: 50px;
  width: 100%;
}

.orbit-ring {
  position: absolute;
  border: 1px dashed #aaa;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}
.orbit-ring-1 { width: 50%; height: 20%;}
.orbit-ring-2 { width: 100%; height: 40%;}
.orbit-ring-3 { width: 150%; height: 60%;}
.orbit-ring-4 { width: 200%; height: 80%;}
.orbit-ring-5 { width: 250%; height: 100%;}


.skill {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.skill-icon {
  width: 40px;
  height: 40px;
}

.skill-label {
  display: block;
  margin-top: 6px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .orbit-container {
    max-width: 360px;
  }
  .skill-icon {
    width: 35px;
    height: 35px;
  }
  .skill-label {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
  }
}
@media (max-width: 900px) {
  .orbit-container {
    max-width: 280px;
  }
  .skill-icon {
    width: 28px;
    height: 28px;
  }
  .skill-label {
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
  }
}


@media (max-width: 768px) {
  .orbit-container {
    max-width: 240px;
  }
  .skill-icon {
    width: 25px;
    height: 25px;
  }
  .skill-label {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  font-weight: normal;
}
}

@media (max-width: 480px) {
  .orbit-container {
    max-width: 150px;
  }
  .skill-icon {
    width: 20px;
    height: 20px;
  }
  .skill-label {
    display: none;
  }
}